.bethapa-table-header {
    font-weight: bold;
    color: maroon;
    font-size: 2.1em;
    border-bottom: 1px solid rgb(3, 46, 10);
    margin-bottom: 20px;
    width: 100%;
}
.bethapa-table-sectionheader {
    font-weight: bold;
    color: maroon;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(3, 46, 10);
    margin-bottom: 20px;
    width: 100%;
}
.bethapa-reportheader-header {
    font-weight: bold;
  color: #343a40;
  font-size: 2.1em;
  border-bottom: 1px solid rgb(3, 46, 10);
  margin-bottom: 20px;
  width: 100%;
}
.bethapa-component-header {
      font-weight: bold;
    color: #343a40;
    font-size: 3.1em;
    border-bottom: 1px solid rgb(3, 46, 10);
    margin-bottom: 20px;
    width: 100%;
}
.bethapa-table-miniheader {
    font-weight: bold;
    color: #180480;
    font-size: 1.1em;
    border-bottom: 1px solid rgb(3, 46, 10);
    margin-bottom: 20px;
    margin-left: 40px;
    width: 100%;
    padding: initial;
}
button.add-newm {
    display: inline-block;
    float: right;
    font-size: 0.6em;
    /* padding: 0px; */
    background: #E86325;
    font-weight: bold;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 0.5px black;
}
.mysalessect {
    padding: 0rem;
    float: right;
}


tr:nth-child(even) {
  background-color: #f67d2947;
  font-size: 20px;
}
tr:nth-child(odd) {
  background-color: #41fae024;
 font-size: 20px;
 
}
.sss{

    font-weight: 900;
    font-size: 30px;
    color: white;

}
.info-payots {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 26.25rem;
    background: #dc3545;
;
    display: -ms-flexbox;
    display: flex;
    /* margin-bottom: 1rem; */
    min-height: 80px;
        padding: 1.5rem;
    position: relative;
    width: 100%;
}
.info-collections {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 26.25rem;
    background: #33a2b8;
;
    display: -ms-flexbox;
    display: flex;
    /* margin-bottom: 1rem; */
    min-height: 80px;
        padding: 1.5rem;
    position: relative;
    background-color: #41fae024;
    width: 100%;
}
.info-profit {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 26.25rem;
    background: #3f8a30;
;
    display: -ms-flexbox;
    display: flex;
    /* margin-bottom: 1rem; */
    min-height: 80px;
        padding: 1.5rem;
    position: relative;
    width: 100%;
}
.info-salesdetails {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 26.25rem;
    background: #6c757d;;
    display: -ms-flexbox;
    display: flex;
    /* margin-bottom: 1rem; */
    min-height: 80px;
        padding: 1.5rem;
    position: relative;
    width: 100%;
}
th {
  /* background-color: #8c9765; */
  font-size: 23px;
}
#axiosForm{  /* Components Root Element ID */
    position: relative;
}
.loader{  /* Loader Div Class */
    position: absolute;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#eceaea;
    background-image: url('/images/load.gif');
    background-size: 200px;
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
 