

/*----SIDEBAR NAVIGATION*/

.sree-nav {
   /* padding-left:0;
    padding-right:0;
    padding-top: 0;*/
}

.sree-title {
    font-size: 0.8em;
    background: #3f2f29;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display:block;
    width: 100%;
    height: 35px;
    line-height: 2em;

}

.sree-nav-item a {
    color:#454241;
    font-size:0.8em;
}

.sree-nav-item {
    background: white;
    border-bottom: 0.5px solid gray;
}

.sree-ul {
    width:100%;
}

.fas, .far, .fal {
    color:#3f2f29;
}

#sidebar.active {
   display:none;
   -webkit-transition-property: width; /* Safari */
   -webkit-transition-duration: 5s; /* Safari */
   -webkit-transition-delay: 2s; /* Safari */
   transition-property: width;
   transition-duration: 5s;
   transition-delay: 2s;
}



a[data-toggle="collapse"] {
    position: relative;
}

.side-dropdown::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        /*margin-left: -250px;*/
    }

    #sidebar.active {
        margin-left: -250px;
    }


    #sidebar.active {
        margin-left: 0;
    }
}